@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  touch-action: manipulation;
}
.brand {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  padding: 32px 0;

  @include xs {
    grid-template-columns: repeat(2, 1fr);
    max-width: 197px * 2 + 20px;
    gap: 20px;
    padding: 20px 16px;
  }

  img {
    object-fit: contain;
    // width: 100%;
    // max-width: 250px;
    // height: auto;

    @include m {
      //   max-width: 197px;
      width: 179px;
      height: 91px;
    }

    @include xs {
      //   max-width: 197px;
      width: 179px;
      height: 91px;
    }
  }
}
