@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
.background {
  background: rgba(248, 249, 251, 1);
}
.cart {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  margin-bottom: 100px;
  @include m {
    width: 96.56%;
    padding-top: 40px;
  }
  @include xs {
    width: 92.27%;
    padding-top: 20px;
  }
  &__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: rgba(2, 105, 135, 1);
    @include m {
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
    }
    @include xs {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include m {
      flex-direction: column;
      gap: 40px;
    }
    @include xs {
      flex-direction: column;
      gap: 40px;
    }
    &-list {
      width: 57.8%;
      background-color: rgba(246, 246, 246, 1);
      padding: 40px 28px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: fit-content;

      @include m {
        width: 100%;
      }
      @include xs {
        width: 100%;
        padding: 28px 16px;
      }
      .cart__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        @include xs {
          display: none;
        }
        &-select {
          width: 53.6%;
          display: flex;
          gap: 24px;
          align-items: center;
          input {
            width: 18px;
            height: 18px;
            display: flex;
            border-radius: 4px;
            border: 1px solid rgba(142, 155, 166, 1);
            background-color: white;
          }
        }
        &-price {
          width: 18.7%;
        }
        &-totalPrice {
          width: 14.6%;
        }
        &-select,
        &-price,
        &-totalPrice {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(31, 59, 83, 1);
        }
      }
      .cart__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .cart__empty {
          padding: 60px 20px;
          text-align: center;
          width: 100%;

          p {
            font-size: 18px;
            color: rgba(133, 143, 155, 1);
            margin: 0;
          }

          @include xs {
            padding: 40px 20px;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
    &-info {
      width: 39%;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      @include m {
        width: 100%;
      }
      @include xs {
        width: 100%;
      }
      .Customer {
        width: 100%;
        display: flex;
        background-color: rgba(246, 246, 246, 1);
        flex-direction: column;
        padding: 40px;
        gap: 28px;
        @include xs {
          padding: 28px 16px;
        }
        &__infomation {
          display: flex;
          flex-direction: column;
          gap: 26px;
          width: 100%;
          &-header {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: rgba(31, 59, 83, 1);
          }
          &-input {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-item {
              display: flex;
              padding: 6px 12px;
              width: 100%;
              align-items: center;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: rgba(142, 155, 166, 1);
              height: 48px;
              box-sizing: border-box;
              border: 1px solid rgba(226, 231, 237, 1);
              border-radius: 8px;
              outline: none;
              box-shadow: 0 0 0 0.5px rgba(40, 167, 69, 0.2);

              &::placeholder {
                color: rgba(142, 155, 166, 1);
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
        &__address {
          display: flex;
          flex-direction: column;
          gap: 26px;
          width: 100%;
          &-header {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: rgba(31, 59, 83, 1);
          }
          &-input {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-city {
              padding: 6px 8px 6px 12px;
              display: flex;
              width: 100%;
              gap: 8px;
              align-items: center;
              background-color: white;
              justify-content: space-between;
              border: 1px solid rgba(226, 231, 237, 1);
              border-radius: 6px;
              &-input {
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                color: rgba(71, 87, 101, 1);
                border: none;
                background-color: transparent;
                outline: none;
                width: 100%;
                &::placeholder {
                  color: rgba(71, 87, 101, 1);
                  font-weight: 300;
                  font-size: 14px;
                  line-height: 24px;
                }
              }
              &-icon {
                width: 16px;
                height: 16px;
                rotate: 90deg;
              }
            }
            &-other {
              display: flex;
              gap: 16px;
              align-items: center;
              &-district {
                padding: 6px 8px 6px 12px;
                display: flex;
                width: 100%;
                gap: 8px;
                align-items: center;
                background-color: white;
                justify-content: space-between;
                border: 1px solid rgba(226, 231, 237, 1);
                border-radius: 6px;
                &-input {
                  font-weight: 300;
                  font-size: 14px;
                  line-height: 24px;
                  color: rgba(71, 87, 101, 1);
                  border: none;
                  background-color: transparent;
                  outline: none;
                  width: 100%;
                  &::placeholder {
                    color: rgba(71, 87, 101, 1);
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 24px;
                  }
                }
                &-icon {
                  width: 16px;
                  height: 16px;
                  rotate: 90deg;
                }
              }
            }
            &-address {
              display: flex;
              padding: 6px 12px;
              width: 100%;
              align-items: center;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: rgba(142, 155, 166, 1);
              height: 48px;
              box-sizing: border-box;
              border: 1px solid rgba(226, 231, 237, 1);
              border-radius: 8px;
              outline: none;
              box-shadow: 0 0 0 0.5px rgba(40, 167, 69, 0.2);

              &::placeholder {
                color: rgba(142, 155, 166, 1);
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
              }
            }
            &-note {
              display: flex;
              padding: 6px 12px;
              width: 100%;
              align-items: flex-start;
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              color: rgba(146, 157, 170, 1);
              height: 112px;
              box-sizing: border-box;
              border: 1px solid rgba(226, 231, 237, 1);
              border-radius: 8px;
              outline: none;
              box-shadow: 0 0 0 0.5px rgba(40, 167, 69, 0.2);
              resize: none;

              &::placeholder {
                color: rgba(142, 155, 166, 1);
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
      .Payment {
        width: 100%;
        display: flex;
        background-color: rgba(246, 246, 246, 1);
        flex-direction: column;
        padding: 40px;
        gap: 24px;
        @include xs {
          padding: 28px 16px;
        }
        &__header {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: rgba(31, 59, 83, 1);
        }
        &__content {
          display: flex;
          flex-direction: column;
          gap: 26px;
          &-price {
            display: flex;
            flex-direction: column;
            gap: 26px;
            &-totalCart {
              display: flex;
              width: 100%;
              &-label {
                display: flex;
                flex-direction: column;
                width: 100%;
                .text1 {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                  color: rgba(30, 43, 54, 1);
                }
                .text2 {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 18px;
                  color: rgba(30, 43, 54, 1);
                }
              }
            }
            &-afterCalculate {
              display: flex;
              width: 100%;
              padding-top: 20px;
              gap: 18px;
              &-label {
                width: 100%;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                vertical-align: bottom;
                color: rgba(71, 87, 101, 1);
              }
              &-value {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: rgba(2, 105, 135, 1);
              }
            }
          }
          &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 52px;
            box-sizing: border-box;
            background-color: rgba(2, 105, 135, 1);
            border: none;
            border-radius: 6px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: white;
          }
        }
      }
    }
  }
}
