@use "swiper/css";
@use "swiper/css/navigation";
@use "swiper/css/pagination";
@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  touch-action: manipulation;
}
.product {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  @include m {
    align-items: center;
  }
  @include xs {
    align-items: center;
  }
  &__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0%;
    color: rgba(31, 59, 83, 1);
    width: fit-content;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    @include m {
      flex-direction: column;
      align-items: center;
    }
    @include xs {
      flex-direction: column;
      align-items: center;
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      width: 74.5%;
      @include m {
        grid-template-columns: repeat(2, 1fr);
        width: 96.56%;
      }
      @include xs {
        grid-template-columns: repeat(1, 1fr);
        width: 92.27%;
      }
      &-item {
        // width: 302px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(188, 196, 204, 1);
        border-radius: 8px;
        padding: 16px 0;
        box-sizing: border-box;
        transition: all 0.3s ease;
        transition: opacity 0.3s ease;
        &:hover {
          box-shadow: 0 0 10px 0 rgba(61, 80, 86, 0.15);
        }

        &-title {
          display: flex;
          flex-direction: column;
          gap: 2px;
          padding: 0 16px;
          .product-type {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0%;
            color: rgba(142, 155, 166, 1);
          }
          .product-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            color: rgba(71, 87, 101, 1);
          }
        }
        &-image {
          padding: 0 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            object-fit: contain;
            padding: 11px 20px;
          }
        }
        .product__content-list-item-footer {
          display: flex;
          padding: 8px 16px;
          justify-content: space-between;
          gap: 20px;
          .product__content-list-item-price {
            display: flex;

            gap: 4px;
            .product-price {
              font-weight: 500;
              font-size: 20px;
              line-height: 28px;
              letter-spacing: 0%;
              color: rgba(71, 87, 101, 1);
            }
            .product-currency {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0%;
              color: rgba(71, 87, 101, 1);
            }
          }
          .product__content-list-item-active {
            display: flex;
            gap: 24px;
            align-items: center;
            text-align: center;
            max-height: 24px;
            opacity: 0;
            position: relative;
            &:hover .product__content-list-item-popup {
              opacity: 1;
            }
            .product__content-list-item-popup {
              position: absolute;
              top: -45px;
              left: -5px;

              //   max-width: 133px;
              opacity: 0;
              width: 133px;
              &-inner {
                padding: 6px 14px 8px 12px;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0%;
                color: rgba(246, 246, 246, 1);
                border-radius: 8px;
                background-color: rgba(30, 43, 54, 1);
                z-index: 10;
              }
              &-footer {
                width: 12px;
                height: 12px;
                position: absolute;
                background-color: rgba(30, 43, 54, 1);
                rotate: 45deg;
                left: 60px;
                top: 26px;
                z-index: 5;
              }
            }
            .product__content-list-item-cart-icon {
              &:hover {
                color: white;
                fill: black;
              }
            }
          }
        }
        &:hover .product__content-list-item-active {
          opacity: 1;
        }
      }
    }
    &-banner {
      max-width: 302px;
      width: 100%;
      background-image: linear-gradient(
        45deg,
        rgba(2, 105, 135, 0.8),
        rgba(2, 105, 135, 0.8)
      );
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      position: relative;
      min-height: 652px;
      @include m {
        min-height: 680px;
        width: 272px;
      }
      @include xs {
        width: 100%;
        min-height: 955px;
      }

      &-info {
        padding: 26px 26px 0 28px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        .product__content-banner-header {
          display: flex;
          flex-direction: column;
          gap: 9px;
          .product__content-banner-name {
            font-weight: 600;
            font-size: 30px;
            line-height: 44px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: rgba(246, 246, 246, 1);
          }
          .product__content-banner-discount {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(246, 246, 246, 1);
          }
        }
        .product__content-banner-button {
          padding: 6px 15px 6px 12px;
          display: flex;
          gap: 12px;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.08);
          width: fit-content;
          text-align: center;
          align-items: center;
          span {
            color: rgba(255, 255, 255, 1);
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0%;
          }
          .product__content-banner-button-icon {
            color: rgba(255, 255, 255, 1);
            align-items: center;
          }
        }
      }
      &-image {
        width: 605px;
        height: 302px;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 24px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-circle-1 {
        position: absolute;
        top: -20px;
        left: 171px;
        width: 180px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
      }
      &-circle-2 {
        position: absolute;
        top: 139px;
        left: 135px;
        width: 75px;
        height: 75px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
      }
    }
  }
}
