// Primary colors
$primary-color: #006eef;
$primary-dark: #026987;

// Secondary colors
$secondary-color: #c48c46;

// Neutral colors
$text-primary: #161c24;
$text-secondary: #475765;
$text-gray: #666;
$text-light-gray: #999;

// Background colors
$bg-light: #f8f9fb;
$bg-gray: #f0f1f3;
$bg-dark-gray: #e2e7ed;

// Border colors
$border-gray: #e0e0e0;

// State colors
$white: #ffffff;
$black: #000000;
